.forgotpw2-container {
  background-color: #f3f3f3;
  margin-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.forgotpw2-title {
  padding: 15px 0;
}

.forgotpw2-btn {
  margin-bottom: 1rem;
  width: 100%;
}

.resend-link {
  color: blue !important;
  text-decoration: underline !important;
}

.resend-text {
  text-align: center;
}
