header {
  margin-bottom: 56px;
}

.navbar {
  background-color: #8dbfc8;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.navbar > .container-fluid {
  padding: 5px;
}
.search-bar {
  width: 55%;
  margin-top: 2px;
  height: 50%;
  text-indent: 10px;
  border-radius: 15px;
  background: url('https://img.icons8.com/material/15/undefined/search--v1.png')
    no-repeat scroll 7px white;
  padding-left: 22px;
  border: 1.5px solid black;
  margin-right: 15px;
}

.fa,
.far {
  cursor: pointer;
  font-size: 28px !important;
  margin-left: 10px;
}

.navbar-toggler {
  margin-top: 4px;
}

.fa-heart {
  color: rgb(224, 83, 83);
}

.navbar-toggler {
  color: black;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-brand > img {
  width: 55px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

label {
  width: 100%;
}

.hamburger-container,
.user-container,
.collapse-hamburger-container {
  display: inline-block;
  position: relative;
}

.hamburger-slider-pointer,
.user-slider-pointer {
  transform: translateX(13px);
  border: solid 10px transparent;
  border-bottom-color: #f3f3f3;
  position: absolute;
  bottom: -11px;
  z-index: 998;
}

.hamburger-slider,
.user-slider {
  position: absolute;
  bottom: -10px;
  transform: translateY(100%) translateX(-100px);
  width: 150px;
  height: 130px;
  border: 1px solid #a4a5a5;
  background: #f3f3f3;
  border-radius: 3px;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

.account-slider > *,
.hamburger-slider > *,
.user-slider > *,
.categories-slider > *,
.hamburger-collapse-slider > *,
.account-collapse-slider > *,
.categories-collapse-slider > * {
  cursor: pointer;
  display: block;
  padding-left: 5px;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.categories-slider {
  position: absolute;
  bottom: -10px;
  transform: translateY(100%) translateX(-250px);
  width: 150px;
  height: 230px;
  border: 1px solid #a4a5a5;
  background: #f3f3f3;
  border-radius: 3px;
}

.account-slider {
  position: absolute;
  bottom: -10px;
  transform: translateY(100%) translateX(-250px);
  width: 150px;
  height: 100px;
  border: 1px solid #a4a5a5;
  background: #f3f3f3;
  border-radius: 3px;
}

.navbar-toggler {
  border: 0 !important;
}

.hamburger-collapse-slider {
  position: absolute;
  bottom: -10px;
  transform: translateY(93%) translateX(-86px);
  width: 150px;
  height: 130px;
  border: 1px solid #a4a5a5;
  background: #f3f3f3;
  border-radius: 3px;
  box-shadow: 0 0 0 10000px rgb(0 0 0 / 50%);
}

.hamburger-collapse-slider-pointer {
  transform: translateX(24px);
  border: solid 10px transparent;
  border-bottom-color: #f3f3f3;
  position: absolute;
  bottom: -2px;
  z-index: 998;
}

.categories-collapse-slider {
  position: absolute;
  bottom: -10px;
  transform: translateY(96%) translateX(-236px);
  width: 150px;
  height: 230px;
  border: 1px solid #a4a5a5;
  background: #f3f3f3;
  border-radius: 3px;
}

.account-collapse-slider {
  position: absolute;
  bottom: -10px;
  transform: translateY(91%) translateX(-236px);
  width: 150px;
  height: 100px;
  border: 1px solid #a4a5a5;
  background: #f3f3f3;
  border-radius: 3px;
}

.fa-shopping-cart {
  color: #212529;
}

.cart-amount-popon {
  display: -webkit-inline-box;
  position: absolute;
  right: 87px;
  top: 5px;
}

.cart-amount-popon > * {
  width: 1.3rem;
  height: 1.3rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  align-content: center;
  font-weight: 500;
  justify-content: center;
}

.nav-slider-name {
  margin: 0;
  color: #212529;
}

.nav-slider-name:hover {
  color: rgb(44, 44, 232);
}
