.card {
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  /* text-align: justify; */
}

.card-body {
  padding: 2rem 2.5rem !important;
  display: flex;
  flex-direction: column;
}

.form-select {
  width: auto !important;
}

.quantity {
  display: flex;
  justify-content: space-between;
}

.btn {
  text-transform: none;
  background-color: #8dbfc8 !important;
  color: black !important;
  border: 0 !important;
  margin: 0;
}

.buttons {
  margin-top: auto;

  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  display: flex;
}

.product > .row > .carousel {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .buttons > * {
    margin: 5px 0;
  }
  .buttons {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .buttons,
  .product > .row {
    flex-direction: column;
  }
}
