.card {
  flex-direction: row;

  margin-bottom: 7px;
}

.product-card > .card-img {
  cursor: pointer;
}

.card-img {
  width: 25%;
  height: 25%;
  align-self: center;
}
.score {
  background-color: #008bff;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: bold;
}

.svg-inline--fa {
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.date {
  display: block;
}

.card-text {
  color: #000000bd;
}

.card-buttons {
  display: flex;
  flex-direction: row;
}

.card-buttons > * {
  margin-bottom: 1rem;
}

.card-buttons > a {
  text-align: center;
}

.card-button {
  margin: 0 15px 5px 0;
}

.react-numeric-input > input {
  width: 100%;
}

.choose-button {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.choose-button > input {
  position: unset;
  margin-left: 10px;
}

.cart-text {
  display: flex;
  justify-content: space-between;
}

.on-stock {
  color: green !important;
}

.out-of-stock {
  color: red !important;
}

.old-price {
  text-decoration: line-through;
}
