.carousel-inner {
  width: 100%;
}

.carousel {
  max-width: 700px !important;
  min-width: 200px;
  padding: 1rem;
}

.d-block {
  margin: auto;
}

.top-product-title {
  position: relative;
  color: #ffffff;
  font-size: min(3.5vw, 30px);
  letter-spacing: 0.6px;
  margin-left: 15px;
  font-weight: 500;
  padding-right: 10px;
}

.top-product-img {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 1rem;
}

.top-product-title::before {
  background-color: #000000;
  content: '';
  width: 100%;
  height: 1.3em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.1em;
  top: 0;
  padding: 0 0.3em;
}

.top-product-title-container {
  margin: 0 0 2rem 0;
  text-align: center;
}

.carousel-link-to-product {
  text-decoration: none;
}
