.register-success-container {
  background-color: #f3f3f3;
  margin-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.register-success-button {
  width: 100%;
}

.register-success-title {
  padding: 15px 0;
  font-size: 4rem;
}
