.change-address {
  color: blue !important;
  text-decoration: underline !important;
}

.shipping-details-card {
  margin-bottom: 4rem;
}

.missing-shipping-details {
  color: red !important;
  font-weight: bold !important;
  font-size: 20px !important;
}
