.wishlist-container {
  background-color: #f3f3f3;
  margin-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* .card-buttons > * {
  margin: 1rem;
} */

.wishlist-title {
  padding: 15px 0;
}
